{{- define "main" }}
<section class="awu-list-page awu-utility-page awu-search-page">
  <header class="awu-page-intro">
    <h1>{{ .Title }} <svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></h1>
  </header>
  <div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s →" .Title) }}" aria-label="search" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" aria-label="search results"></ul>
  </div>
</section>
{{- end }}
